body {
  background-color: pink;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bold-text {
  font-weight: bold;
}

.center-text {
  text-align: center;
}

.center-textC {
  text-align: center;
  font-family: 'Brush Script MT Italic', cursive;
  font-size: xxx-large;
}

.left-aligned-list {
  text-align: center;
  list-style: none;
  
}


/*----------------------------------------------*/
.background {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -1;


  min-width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.circle {
  position: absolute;
  border-radius: 50%;
  opacity: 30%;
}

/*---------------GALLERY BOX-------------*/
.galleryback {
  background-color: rgb(192, 136, 146);
  width: 96%;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8); /* Add the shadow effect */
}

.gallerybackmain {
  margin: 10px;
  margin-top: 20px; /* Adjust this value to move it below the navbar */
}


/*------------OurServices.js BUTTON CSS---------------  */
.tabs-containerb {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 200px;
  gap: 20px;
  justify-content: space-between;
}

.tabs-containerb > * {
  margin-bottom: 20px;
}

/* ----------PINTEREST LAYOUT SETTINGS------------ */

.gallery-masonry {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.gallery-masonry-column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.gallery-masonry img {
  display: block;
  margin-bottom: 15px;
  max-width: 100%;
  border-radius: 8px;
}

.placeholder {
  background-color: #000;
  padding-top: 75%; /* Desired size ratio (e.g., 4:3 aspect ratio) */
}


/*----------------FOOTER------------------------*/

footer {
  text-align: center;
  font-size: 0.8rem;
}

.line-div {
  width: 40%;
  margin: 0 auto;
  border-bottom: 1px solid black;
}



/*-----------GOOOGLE MAPS BLOCK--------------------*/

.gmap {
  display: flex;
  justify-content: center;
}
/*-------------------allbody----------------------------------*/
.allbody {
  margin: 0;
  padding: 0;
  border: 0;
}

/*-----------------------------------------------------*
.logo {
  padding-top: 5px;
  padding-left: 5px;
}
/*-------------TABs-------------------------------------*/
.react-tabs__tab-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  height: 45px;
  padding: 0.5rem;
}

.react-tabs__tab {
  color: pink;
  font-size: 1.2rem;
  margin-right: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0.5rem;
}

.react-tabs__tab--selected {
  background-color:pink;
  color: rgba(0, 0, 0, 0.049);
}

/*----------------------------Slide transition between pages-----------------------------*
https://www.youtube.com/watch?v=pTinipkJBcs
/*------------------------------------BackButton---------------------------------------------------*/
.back-icon {
  width: 20px;
  height: 20px;
}
/*-----------------------------------Responsive Navbar------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

.navbar-container_ {
  z-index: 100; /* Set a higher z-index to place the navbar above the Carousel */
}

:root {
	--mainColor: pink;
	--mainColorLight: #5767aa;
	--secondaryColor: white;
	--textColor: black;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
  position: sticky;
  top: 0;
  z-index: 1;
}



nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

.logo {
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 1.2rem;
  color: black;
  z-index:20;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
    z-index:50; /* If the slider appears behind the Carousels*/
		top: -100vh;
		left: 0;
		height: 40%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}

/*
.navbar-line {
  border: none;
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: 610px;
  left: 0;
  width: 100%;
  
}*/
/*----------------------------------------------------------------------------------------*/

/*----------------------------RESPONSIVE NAVBAR YOUTUBE-----------------------------*
https://www.youtube.com/watch?v=amf18mxNX18
/*-----------------------------------RESPONSIVES CAROUSEL-----------------------------------------------------*/
.main-slide{
  padding-top: 10px;
  margin: 10px;
}

.carousel-container {
  z-index: 1;
}
.carousel .slider-wrapper{
  width: 50%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8); /* Add the shadow effect */

}
.carousel .thumb{
  width: 5%;
  height: 50px;
}

.carousel{
  text-align: center;
}


/*------------------Captions*/

.carousel-item-container {
  position: relative;
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 70px;
  z-index: 1;
}

.carousel-caption h3 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: left;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.carousel-caption p {
  font-size: 16px;
  text-align: left;
}

/*-------------  https://www.npmjs.com/package/react-responsive-carousel   --------------*/

/*-------------------flip Logo---------------------------*/
.logo-flip {
  animation: flip 2s linear infinite;
  transform-style: preserve-3d;
}

@keyframes flip {
  0% {
    transform: perspective(800px) rotateY(0);
  }
  50% {
    transform: perspective(800px) rotateY(180deg);
  }
  100% {
    transform: perspective(800px) rotateY(360deg);
  }
}
/*-------------------------------------------------------------*/
/*------------------------TESTIMONIAL-------------------------------------*/

.Card {
  animation: slide 0.5s ease-in-out;
}

@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
/*-------------------------------------------------------------*/

